        a {
            text-decoration: none;
        }
        .content h3 {
            text-align: center;
            font-size: 2rem;
        }
        .content h3 a:hover {
            color: red;
        }
        table, th, td {
            border: 1px solid black;
        }
        #post {
            border-collapse: collapse;
            width: 90%;
            margin: 0 auto;
        } 
        #post td {
            cursor: pointer;
        }
        #post td, #post th {
            border:  1px solid #ddd;
            padding: 8px;
        }
        #post tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #post tr:hover {
            background-color: #ddd;
        }
        #post th {
            text-align: left;
            background-color: grey;
            color: white;
        }

